:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 18rem;
  padding: 2.5rem;
  border-radius: 1rem;
  background: #ffdb3c;

  &.completed {
    background: #fff1aa;
  }
}

p {
  margin: 0;
}

.todo {
  &__id {
    margin-bottom: 0.625rem;
    font: var(--text-18);
  }

  &__title {
    margin-bottom: 0.625rem;
    font: var(--heading-3);
  }

  &__userId {
    font: var(--heading-2);
  }

  &__label {
    margin-bottom: 0.625rem;
    font: var(--text-20);
  }
}

.completed-btn {
  width: 100%;
  border-radius: 50px;
  font: var(--caption-14);
  cursor: not-allowed;
}
