:host {
  display: block;
  height: calc(100vh - var(--filter-height) - 4rem);
  padding: 0 1rem;
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 1rem;
  gap: 2.5rem;
}

.info {
  display: block;
  margin: 0 auto;
}
